<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers List</title>
</head>
<body>
    <h1>Formula 1 Drivers</h1>
   {% for driver in drivers %}
<li>
    {% if driver.id %}
        <a href="{% url 'driver_detail' driver.id %}">{{ driver.name }}</a>
    {% else %}
        <span>Driver sin ID: {{ driver.name }}</span>
    {% endif %}
</li>
{% endfor %}


    <div>
        <span>Page {{ page }} of {{ total_pages }}</span>
        {% if prev_page %}
        <a href="?page={{ prev_page }}">Previous</a>
        {% endif %}
        {% if next_page %}
        <a href="?page={{ next_page }}">Next</a>
        {% endif %}
    </div>
</body>
</html>
